.site-header {
  @extend .row;
  @extend .min-h-4;

  header {
    @extend .header;
    @extend .header-inline;
    @extend .min-h-3;
    @extend .row;
    @extend .desktop-8;
    @extend .container;
  }

  nav {
    @extend .nav-inline;
  }
}

hr {
  @extend .hide;
}

.site-content {
  @extend .desktop-8;
  @extend .container;

  section {
    @extend .row;
  }
}

.site-social {
  @extend .col-left-5;
  @extend .max-h-1;
  text-align: right;

  .facebook {
    @extend .desktop-1;
    padding-top: 3px;
    display: inline;
  }
  .twitter {
    padding-top: 10px;
    padding-left: 65px;
    @extend .desktop-1;
    display: inline;
  }
  .gplus {
    @extend .desktop-1;
    padding-top: 6px;
    display: inline;
  }
}

footer {
  @extend .desktop-8;
  @extend .container;

  div {
    @extend .padding-top-1;
  }
}

